<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Adicionar nova disciplina</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-tooltip md-direction="left">Fechar</md-tooltip>
          <md-icon md-svg-src="../app/img/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>        
      </div>
    </md-toolbar>

    <md-dialog-content flex>
      <div class="md-dialog-content">

        <section layout="row">
          <md-input-container>
            <label>Título</label>
            <input ng-model="titulo" type="text" ng-required="true">
          </md-input-container>

          <md-autocomplete
            md-selected-item="turma"
            md-search-text-change="searchTextChange(searchText)"
            md-search-text="searchText"
            md-selected-item-change="selectedItemChange(item)"
            md-items="item in turmas | filter: searchText"
            md-item-text="item.serie + 'º ' + item.curso"
            md-min-length="0"
            md-floating-label="Turma...">
            <md-item-template>
              <span md-highlight-text="searchText" md-highlight-flags="^i">
                {{item.serie}}º {{item.curso}}
              </span>
            </md-item-template>
          </md-autocomplete>
        </section>

        <md-input-container>
            <!-- <input list="turmas" ng-model="turma" type="text" ng-required="true">
          <datalist id="turmas">
            <option value="{{t.serie}}º de {{t.curso}}" ng-repeat="t in turmas">
            <option value="{{t.id}}" ng-repeat="t in turmas">
          </datalist> -->
        </md-input-container>

        

        <md-input-container>
          <fieldset class="standard">
            <legend>Aulas</legend>
            <div layout="row" layout-wrap="" flex="">
              <div flex="50" ng-repeat="item in aulas">
                <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                  {{ item.data().start | date:'dd/MM/yyyy HH:mm' }}hs às 
                  {{ item.data().end | date:'HH:mm' }}hs
                  <span ng-if="exists(item, selected)">selected</span>
                </md-checkbox>
              </div>
            </div>
          </fieldset>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
      <md-button class="md-primary md-raised" ng-click="salvar()">Salvar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
