<md-dialog>
  <form ng-submit="salvar()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Adicionar aula</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="../app/img/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>  
    </md-toolbar>

    <md-dialog-content>
      <h4>Dia</h4>
      <label for="inicio-data">Data</label>
      <md-datepicker ng-model="day"></md-datepicker>        

      <h4>Início</h4>
      <md-input-container>
        <label for="inicio-horario">Hora</label>
        <input type="Number" max="23" min="00" name="" ng-model="hrI">
      </md-input-container>

      <md-input-container>
        <label>Min</label>
        <input type="Number" max="59" min="00" ng-model="mnI">
      </md-input-container>


      <h4>Fim</h4>
      <md-input-container>
        <label for="fim-horario">Hora</label>
        <input type="Number" max="23" min="00" name="" ng-model="hrF">
      </md-input-container>

      <md-input-container>
        <label>Min</label>
        <input type="Number" max="59" min="00" ng-model="mnF">
      </md-input-container>

      <p>Status: <span class="radioValue">{{ status }}</span> </p>

      <md-radio-group ng-model="status">

        <md-radio-button value="Ok">Ok</md-radio-button>
        <md-radio-button value="Disponível" class="md-primary"> Disponível </md-radio-button>
        <md-radio-button value="Substituída" class="md-primary">Substituída</md-radio-button>

      </md-radio-group>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button layout-align="end" class="md-raised" ng-click="cancel()">Cancelar</md-button>
      <md-button layout-align="end" class="md-raised md-primary" type="submit">Salvar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
