<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Adicionar Professor</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-tooltip md-direction="left">Fechar</md-tooltip>
          <md-icon md-svg-src="../app/img/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content flex>
      <div class="md-dialog-content" layout="row">
        <md-input-container>
          <label>Nome</label>
          <input ng-model="nome" type="text" ng-required="true">
        </md-input-container>

        <md-input-container>
          <label>Sobrenome</label>
          <input ng-model="sobrenome" type="text" ng-required="true">
        </md-input-container>

        <md-input-container>
          <label>Email</label>
          <input ng-model="email" type="email" ng-required="true">
        </md-input-container>

        <md-input-container>
          <md-select ng-model="isAdmin" class="md-no-underline">
            <md-option value="false">Comum</md-option>
            <md-option value="true">Administrador</md-option>
          </md-select>
        </md-input-container>  
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
      <md-button class="md-primary md-raised" ng-click="salvarProf()">Salvar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>