<md-dialog>
  <form ng-submit="salvar()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Adicionar aula</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-tooltip md-direction="left">Fechar</md-tooltip>
          <md-icon md-svg-src="../app/img/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>  
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="column">
          <h4>Dia</h4>
          <section layout="row">
            <md-datepicker ng-model="day" md-placeholder="Selecione o dia" 
            md-date-filter="onlyWeekendsPredicate"></md-datepicker>            
          </section>
        </div>

        <div layout="row">
          <section>
            <h4>Início</h4>
            <md-input-container>
              <label for="inicio-horario">Hora</label>
              <input type="Number" max="23" min="00" name="" ng-model="hrI">
            </md-input-container>

            <md-input-container>
              <label>Min</label>
              <input type="Number" max="59" min="00" ng-model="mnI">
            </md-input-container>            
          </section>
          <div class="espaco"></div>
          
          <section>
            <h4>Fim</h4>
            <md-input-container>
              <label for="fim-horario">Hora</label>
              <input type="Number" max="23" min="00" name="" ng-model="hrF">
            </md-input-container>

            <md-input-container>
              <label>Min</label>
              <input type="Number" max="59" min="00" ng-model="mnF">
            </md-input-container>            
          </section>
        </div>

        <div layout="column">
          <h4>Disciplina</h4>
          <section>
            <md-autocomplete 
                required
                md-selected-item="disciplina"
                md-search-text-change="searchTextChange(searchText)"
                md-search-text="searchText"
                md-selected-item-change="selectedItemChange(item)"
                md-items="item in disciplinas | filter: searchText"
                md-item-text="item.titulo"
                md-min-length="0"
                placeholder="Selecione a disciplina...">
              <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="^i">
                  {{item.titulo}}
                </span>
              </md-item-template>
            </md-autocomplete>              
          </section>          
        </div>

        <!-- <p>Status: <span class="radioValue">{{ status }}</span> </p>
        <md-radio-group ng-model="status" layout="row">
          <md-radio-button value="Ok">Ok</md-radio-button>
          <md-radio-button value="Disponível" class="md-primary"> Disponível </md-radio-button>     
        </md-radio-group>  -->       
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button layout-align="end" class="md-raised" ng-click="cancel()">Cancelar</md-button>
      <md-button layout-align="end" class="md-raised md-primary" type="submit">Salvar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
