<md-dialog>
  <form>
    <md-toolbar>
      <h2>Adicionar Pessoa</h2>
    </md-toolbar>

    <md-dialog-content flex>
      <div class="md-dialog-content">
        <md-input-container>
          <label>Nome</label>
          <input ng-model="nome" type="text" ng-required="true">
        </md-input-container>

        <md-input-container>
          <label>Sobrenome</label>
          <input ng-model="sobrenome" type="text" ng-required="true">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
      <md-button class="md-primary md-raised" ng-click="salvarPessoa()">Salvar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
