<div ng-controller="aulaCtrl as c" class="carddemoInCardActions">
	<md-toolbar layout="row" class="md-hue-3">
		<div class="md-toolbar-tools">
        	<span>Aulas</span>
        	<span flex></span>
			<md-button layout-align="end" class="md-raised md-primary"
			ng-click="c.salvarAula($event)" ng-show="c.user.isAdmin">
				Add aula
			</md-button>
        </div>
	</md-toolbar>
	<md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="todas">
        <md-content class="md-padding">
          	<md-card>
				<md-card-content>
					<md-list ng-show="!c.exist.default && !c.exist.available &&
					!c.exist.replaced">
						<md-list-item>Não existem aulas cadastradas</md-list-item>
					</md-list>

					<section ng-show="c.default.length > 0">
						<md-subheader>Aulas padrão</md-subheader>
						<md-list flex="">
				        	<md-list-item class="md-3-line desaparece" ng-click="null"
				        	ng-repeat="d in c.default" id="{{d.id}}item">
				          		<div class="md-list-item-text" layout="column">
				          			<h3> Dia: {{ d.start | date: 'dd/MM/yyyy' }} </h3>
				            		<h4>
				            			De: {{ d.start | date:' HH:mm' }} hs
				            			às {{ d.end | date:' HH:mm' }} hs <br>

				            			disciplina: {{d.disciplina.titulo}} 
				            			( {{ d.professor.nome }} {{ d.professor.sobrenome }} )
				            		</h4>
				          		</div>

				          		<span flex></span>
				          		<!-- Fab -->
		          		<md-fab-speed-dial md-open="c.menu.isOpen" md-direction="left"
		          		ng-class="c.menu.selectedMode" ng-cloak>
		        			<md-fab-trigger>
		          				<md-button id="{{d.id}}btO" class="md-fab md-raised"
		          				aria-label="More" ng-click="c.openMenu(d.id)">
		          					<md-tooltip md-direction="{{c.menu.direction}}">
		          						Opções
		          					</md-tooltip>
		    						<md-icon md-svg-icon="app/img/options.svg"></md-icon>
		  						</md-button>
					        </md-fab-trigger>

					        <md-fab-actions>
					        	<md-button id="{{d.id}}btE" aria-label="Editar"
					        	class="md-fab md-raised md-mini"
					        	ng-click="c.editarAula(d, $event)">
					        		<md-tooltip md-direction="bottom">Editar</md-tooltip>
					            	<md-icon md-svg-src="app/img/editar.svg" aria-label="Editar">
					            	</md-icon>
					          	</md-button>
					          	<md-button aria-label="Excluir"
					          	class="md-fab md-raised md-warn md-mini"
					          	id="{{d.id}}btX" ng-click="c.excluirAula(d.id)">
					          		<md-tooltip md-direction="bottom">Excluir</md-tooltip>
					            	<md-icon md-svg-src="app/img/close.svg" aria-label="Excluir">
					            	</md-icon>
					          	</md-button>
					        </md-fab-actions>
					    </md-fab-speed-dial>
					    		<!-- Fab -->
				        		<md-divider ng-if="!$last"></md-divider>
				        	</md-list-item>
				      	</md-list>
					</section>


					<section ng-show="c.available.length > 0">
						<md-subheader class="md-primary">Aulas disponíveis</md-subheader>
						<md-list flex="">
		        			<md-list-item class="secondary-button-padding"
		        			ng-show="c.available.length == 0" ng-click="null">
		        				<div class="md-list-item-text">
		        					Você não tem nenhuma aula disponível
		        				</div>
		        			</md-list-item>

		        			<md-list-item class="md-2-line desaparece" ng-click="null"
		        			ng-repeat="l in c.available" id="{{l.id}}item">
		        				<div class="md-list-item-text">
				          			<h3> Dia: {{ l.start | date: 'dd/MM/yyyy' }} </h3>
				            		<h4>
				            			De: {{ l.start | date:' HH:mm' }} hs
				            			às {{ l.end | date:' HH:mm' }} hs <br>

				            			disciplina: {{d.disciplina.titulo}} 
				            			( {{ l.professor.nome }} {{ l.professor.sobrenome }} )
				            		</h4>
		        				</div>
		        				<span flex></span>
				          		<!-- Fab -->
		          		<md-fab-speed-dial md-open="c.menu.isOpen" md-direction="left"
		          		ng-class="c.menu.selectedMode" ng-cloak>
		        			<md-fab-trigger>
		          				<md-button id="{{l.id}}btO" class="md-fab md-raised"
		          				aria-label="More" ng-click="c.openMenu(l.id)">
		          					<md-tooltip md-direction="{{c.menu.direction}}">
		          						Opções
		          					</md-tooltip>
		    						<md-icon md-svg-icon="app/img/options.svg"></md-icon>
		  						</md-button>
					        </md-fab-trigger>

					        <md-fab-actions>
					        	<md-button id="{{l.id}}btE" aria-label="Editar"
					        	class="md-fab md-raised md-mini"
					        	ng-click="c.editarAula(l, $event)">
					        		<md-tooltip md-direction="bottom">Editar</md-tooltip>
					            	<md-icon md-svg-src="app/img/editar.svg" aria-label="Editar">
					            	</md-icon>
					          	</md-button>
					          	<md-button aria-label="Excluir" class="md-fab md-raised md-warn md-mini"
					          	id="{{l.id}}btX" ng-click="c.excluirAula(l.id)">
					          		<md-tooltip md-direction="bottom">Excluir</md-tooltip>
					            	<md-icon md-svg-src="app/img/close.svg" aria-label="Excluir">
					            	</md-icon>
					          	</md-button>
					        </md-fab-actions>
					    </md-fab-speed-dial>
					    		<!-- Fab -->
				        		<md-divider ng-if="!$last"></md-divider>
		        			</md-list-item>
		        		</md-list>
					</section>

					<section ng-show="c.replaced.length > 0">
						<md-subheader class="md-accent">Aulas substituídas</md-subheader>
						<md-list flex="">
		        			<md-list-item class="secondary-button-padding"
		        			ng-show="c.replaced.length == 0" ng-click="null">
		        				<div class="md-list-item-text">
		        					Você não tem nenhuma aula substituída
		        				</div>
		        			</md-list-item>
		        			<md-list-item class="md-2-line desaparece" ng-click="null"
		        			ng-repeat="r in c.replaced" id="{{r.id}}item">
		        				<div class="md-list-item-text">
				          			<h3> Dia: {{ r.start | date: 'dd/MM/yyyy' }} </h3>
				            		<h4>
				            			De: {{ r.start | date:' HH:mm' }} hs
				            			às {{ r.end | date:' HH:mm' }} hs <br>

				            			disciplina: {{r.disciplina.titulo}} 
				            			( {{ r.professor.nome }} {{ r.professor.sobrenome }} )
				            		</h4>
		        				</div>
		        				<span flex></span>
				          		<!-- Fab -->
		          		<md-fab-speed-dial md-open="c.menu.isOpen" md-direction="left"
		          		ng-class="c.menu.selectedMode" ng-cloak>
		        			<md-fab-trigger>
		          				<md-button id="{{r.id}}btO" class="md-fab md-raised"
		          				aria-label="More" ng-click="c.openMenu(r.id)">
		          					<md-tooltip md-direction="{{c.menu.direction}}">
		          						Opções
		          					</md-tooltip>
		    						<md-icon md-svg-icon="app/img/options.svg"></md-icon>
		  						</md-button>
					        </md-fab-trigger>

					        <md-fab-actions>
					        	<md-button id="{{r.id}}btE" aria-label="Editar"
					        	class="md-fab md-raised md-mini"
					        	ng-click="c.editarAula(r, $event)">
					        		<md-tooltip md-direction="bottom">Editar</md-tooltip>
					            	<md-icon md-svg-src="app/img/editar.svg" aria-label="Editar">
					            	</md-icon>
					          	</md-button>
					          	<md-button aria-label="Excluir" class="md-fab md-raised md-warn md-mini" id="{{r.id}}btX" ng-click="c.excluirAula(r.id)">
					          		<md-tooltip md-direction="bottom">Excluir</md-tooltip>
					            	<md-icon md-svg-src="app/img/close.svg" aria-label="Excluir">
					            	</md-icon>
					          	</md-button>
					        </md-fab-actions>
					    </md-fab-speed-dial>
					    		<!-- Fab -->
				        		<md-divider ng-if="!$last"></md-divider>
		        			</md-list-item>
		        		</md-list>
					</section>
				</md-card-content>
			</md-card>
        </md-content>
      </md-tab>
      <md-tab label="Padrão">
      	<md-content class="md-padding">
			<md-card>
				<md-card-content>
					<md-list flex="">
						<md-list-item class="secondary-button-padding desaparece"
	        			ng-show="!c.exist.default" ng-click="null">
	        				<div class="md-list-item-text">
	        					Você não tem nenhuma aula padrão
	        				</div>
	        			</md-list-item>
			        	<md-list-item class="md-2-line desaparece" ng-click="null"
			        	ng-repeat="d in c.default" id="{{d.id}}2item">
			          		<div class="md-list-item-text" layout="column">
			          			<h3> Dia: {{ d.start | date: 'dd/MM/yyyy' }} </h3>
			            		<h4>
			            			De: {{ d.start | date:' HH:mm' }} hs
			            			às {{ d.end | date:' HH:mm' }} hs <br>

			            			disciplina: {{d.disciplina.titulo}} 
			            			( {{ d.professor.nome }} {{ d.professor.sobrenome }} )
			            		</h4>
			          		</div>
			          		<span flex></span>
				          		<!-- Fab -->
		          		<md-fab-speed-dial md-open="c.menu.isOpen" md-direction="left"
		          		ng-class="c.menu.selectedMode" ng-cloak>
		        			<md-fab-trigger>
		          				<md-button id="{{d.id}}2btO" class="md-fab md-raised"
		          				aria-label="More" ng-click="c.openMenu(d.id + '2')">
		          					<md-tooltip md-direction="{{c.menu.direction}}">
		          						Opções
		          					</md-tooltip>
		    						<md-icon md-svg-icon="app/img/options.svg"></md-icon>
		  						</md-button>
					        </md-fab-trigger>

					        <md-fab-actions>
					        	<md-button id="{{d.id}}2btE" aria-label="Editar"
					        	class="md-fab md-raised md-mini"
					        	ng-click="c.editarAula(d, $event)">
					        		<md-tooltip md-direction="bottom">Editar</md-tooltip>
					            	<md-icon md-svg-src="app/img/editar.svg" aria-label="Editar">
					            	</md-icon>
					          	</md-button>
					          	<md-button aria-label="Excluir" id="{{d.id}}2btX"
					          	class="md-fab md-raised md-warn md-mini"
					          	ng-click="c.excluirAula(d.id)">
					          		<md-tooltip md-direction="bottom">Excluir</md-tooltip>
					            	<md-icon md-svg-src="app/img/close.svg" aria-label="Excluir">
					            	</md-icon>
					          	</md-button>
					        </md-fab-actions>
					    </md-fab-speed-dial>
					    		<!-- Fab -->
			        		<md-divider ng-if="!$last"></md-divider>
			        	</md-list-item>
			      	</md-list>
				</md-card-content>
			</md-card>
      	</md-content>
      </md-tab>

      	<md-tab label="disponíveis">
      		<md-card>
	        	<md-card-content class="md-padding">
	        		<md-list flex="">
	        			<md-list-item class="secondary-button-padding"
	        			ng-show="!c.exist.available" ng-click="null">
	        				<div class="md-list-item-text">
	        					Você não tem nenhuma aula disponível
	        				</div>
	        			</md-list-item>
	        			<md-list-item class="md-2-line desaparece" ng-click="null"
	        			ng-repeat="l in c.available" id="{{l.id}}2item">
	        				<div class="md-list-item-text">
			          			<h3> Dia: {{ l.start | date: 'dd/MM/yyyy' }} </h3>
			            		<h4>
			            			De: {{ l.start | date:' HH:mm' }} hs
			            			às {{ l.end | date:' HH:mm' }} hs <br>

			            			disciplina: {{l.disciplina.titulo}} 
			            			( {{ l.professor.nome }} {{ l.professor.sobrenome }} )
			            		</h4>
	        				</div>
	        				<span flex></span>
				          		<!-- Fab -->
		          		<md-fab-speed-dial md-open="c.menu.isOpen" md-direction="left"
		          		ng-class="c.menu.selectedMode" ng-cloak>
		        			<md-fab-trigger>
		          				<md-button id="{{l.id}}2btO" class="md-fab md-raised"
		          				aria-label="More" ng-click="c.openMenu(l.id + '2')">
		          					<md-tooltip md-direction="{{c.menu.direction}}">
		          						Opções
		          					</md-tooltip>
		    						<md-icon md-svg-icon="app/img/options.svg"></md-icon>
		  						</md-button>
					        </md-fab-trigger>

					        <md-fab-actions>
					        	<md-button id="{{l.id}}2btE" aria-label="Editar"
					        	class="md-fab md-raised md-mini"
					        	ng-click="c.editarAula(l, $event)">
					        		<md-tooltip md-direction="bottom">Editar</md-tooltip>
					            	<md-icon md-svg-src="app/img/editar.svg" aria-label="Editar">
					            	</md-icon>
					          	</md-button>
					          	<md-button aria-label="Excluir" id="{{l.id}}2btX"
					          	class="md-fab md-raised md-warn md-mini"
					          	ng-click="c.excluirAula(l.id)">
					          		<md-tooltip md-direction="bottom">Excluir</md-tooltip>
					            	<md-icon md-svg-src="app/img/close.svg" aria-label="Excluir">
					            	</md-icon>
					          	</md-button>
					        </md-fab-actions>
					    </md-fab-speed-dial>
					    		<!-- Fab -->
			        		<md-divider ng-if="!$last"></md-divider>
	        			</md-list-item>
	        		</md-list>
	        	</md-card-content>
      		</md-card>
    	</md-tab>

    	<md-tab label="substituídas">
      		<md-card>
	        	<md-card-content class="md-padding">
	        		<md-list flex="">
	        			<md-list-item class="secondary-button-padding"
	        			ng-show="c.replaced.length == 0" ng-click="null">
	        				<div class="md-list-item-text">
	        					Você não tem nenhuma aula substituída
	        				</div>
	        			</md-list-item>
	        			<md-list-item class="md-2-line desaparece" ng-click="null"
	        			ng-repeat="r in c.replaced" id="{{r.id}}2item">
	        				<div class="md-list-item-text">
			          			<h3> Dia: {{ r.start | date: 'dd/MM/yyyy' }} </h3>
			            		<h4>
			            			De: {{ r.start | date:' HH:mm' }} hs
			            			às {{ r.end | date:' HH:mm' }} hs <br>

			            			disciplina: {{ r.disciplina.titulo }}
			            			( {{ r.professor.nome }} {{ r.professor.sobrenome }} )
			            		</h4>
	        				</div>
	        				<span flex></span>
				          		<!-- Fab -->
		          		<md-fab-speed-dial md-open="c.menu.isOpen" md-direction="left"
		          		ng-class="c.menu.selectedMode" ng-cloak>
		        			<md-fab-trigger>
		          				<md-button id="{{r.id}}2btO" class="md-fab md-raised"
		          				aria-label="More" ng-click="c.openMenu(r.id + '2')">
		          					<md-tooltip md-direction="{{c.menu.direction}}">
		          						Opções
		          					</md-tooltip>
		    						<md-icon md-svg-icon="app/img/options.svg"></md-icon>
		  						</md-button>
					        </md-fab-trigger>

					        <md-fab-actions>
					        	<md-button id="{{r.id}}2btE" aria-label="Editar"
					        	class="md-fab md-raised md-mini"
					        	ng-click="c.editarAula(r, $event)">
					        		<md-tooltip md-direction="bottom">Editar</md-tooltip>
					            	<md-icon md-svg-src="app/img/editar.svg" aria-label="Editar">
					            	</md-icon>
					          	</md-button>
					          	<md-button aria-label="Excluir" id="{{r.id}}2btX"
					          	class="md-fab md-raised md-warn md-mini"
					          	ng-click="c.excluirAula(r.id)">
					          		<md-tooltip md-direction="bottom">Excluir</md-tooltip>
					            	<md-icon md-svg-src="app/img/close.svg" aria-label="Excluir">
					            	</md-icon>
					          	</md-button>
					        </md-fab-actions>
					    </md-fab-speed-dial>
					    		<!-- Fab -->
			        		<md-divider ng-if="!$last"></md-divider>
	        			</md-list-item>
	        		</md-list>
	        	</md-card-content>
      		</md-card>
    	</md-tab>
    </md-tabs>
</div>
