<div ng-controller="aulaCtrl as c" class="carddemoInCardActions">
	<md-toolbar layout="row" class="md-hue-3">
		<div class="md-toolbar-tools">
        	<span>Aulas</span>
        	<span flex></span>
			<md-button layout-align="end" class="md-raised md-primary" 
			ng-click="c.salvarAula($event)">
				Add aula
			</md-button>
        </div>
	</md-toolbar>
	<md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="todas">
        <md-content class="md-padding">
          	<md-card>
				<md-card-content>
					<md-list flex="" ng-repeat="a in c.aulas">
						<md-list-item class="secondary-button-padding" 
	        			ng-show="c.aulas.length == 0" ng-click="null">
	        				<div class="md-list-item-text">
	        					Você não tem nenhuma aula cadastrada	        					
	        				</div>
	        			</md-list-item>
		        		<md-list-item class="md-2-line item-de-lista" ng-click="null">
		          			<div class="md-list-item-text" layout="column">
		          				<h3> Dia: {{ a.data().start | date:'dd/MM/yyyy' }} </h3>
		            			<h4> 
		            				De: {{ a.data().start | date:' hh:mm' }} hs 
		            				às: {{ a.data().end | date:' hh:mm' }} hs
		            			</h4>
		            			<h4> Status: {{ a.data().status }} </h4>
		          			</div>
		        		</md-list-item>
		        		<md-divider md-inset ng-if="!$last"></md-divider>
		      		</md-list>
				</md-card-content>
			</md-card>
        </md-content>
      </md-tab>
      <md-tab label="Padrão">
      	<md-content class="md-padding">
			<md-card>
				<md-card-content>
					<md-list flex="">
						<md-list-item class="secondary-button-padding" 
	        			ng-show="c.default.length == 0" ng-click="null">
	        				<div class="md-list-item-text">
	        					Você não tem nenhuma aula padrão	        					
	        				</div>
	        			</md-list-item>
			        	<md-list-item class="md-2-line" ng-click="null" 
			        	ng-repeat="d in c.default">
			          		<div class="md-list-item-text" layout="column">
			          			<h3> Dia: {{ d.data().start | date: 'dd/MM/yyyy' }} </h3>
			            		<h4> 
			            			De: {{ d.data().start | date:' hh:mm' }} hs 
			            			às: {{ d.data().end | date:' hh:mm' }} hs
			            		</h4>
			            		<h4> Status: {{ d.data().status }} </h4>
			          		</div>			        			
			        		<md-divider md-inset ng-if="!$last"></md-divider>
			        	</md-list-item>
			      	</md-list>
				</md-card-content>
			</md-card>	
      	</md-content>	
      </md-tab>	

      	<md-tab label="disponíveis">
      		<md-card>
	        	<md-card-content class="md-padding">
	        		<md-list flex="">
	        			<md-list-item class="secondary-button-padding" 
	        			ng-show="c.available.length == 0" ng-click="null">
	        				<div class="md-list-item-text">
	        					Você não tem nenhuma aula disponível	        					
	        				</div>
	        			</md-list-item>
	        			<md-list-item class="md-2-line" ng-click="null" 
	        			ng-repeat="l in c.available">
	        				<div class="md-list-item-text">
			          			<h3> Dia: {{ l.data().start | date: 'dd/MM/yyyy' }} </h3>
			            		<h4> 
			            			De: {{ l.data().start | date:' hh:mm' }} hs 
			            			às: {{ l.data().end | date:' hh:mm' }} hs
			            		</h4>
			            		<h4> Status: {{ l.data().status }} </h4>        					
	        				</div>
			        		<md-divider md-inset ng-if="!$last"></md-divider>
	        			</md-list-item>
	        		</md-list>
	        	</md-card-content>      			
      		</md-card>
    	</md-tab>

    	<md-tab label="substituídas">
      		<md-card>
	        	<md-card-content class="md-padding">
	        		<md-list flex="">
	        			<md-list-item class="secondary-button-padding" 
	        			ng-show="c.replaced.length == 0" ng-click="null">
	        				<div class="md-list-item-text">
	        					Você não tem nenhuma aula substituída	        					
	        				</div>
	        			</md-list-item>
	        			<md-list-item class="md-2-line" ng-click="null" ng-repeat="r in c.replaced">
	        				<div class="md-list-item-text">
			          			<h3> Dia: {{ r.data().start | date: 'dd/MM/yyyy' }} </h3>
			            		<h4> 
			            			De: {{ r.data().start | date:' hh:mm' }} hs 
			            			às: {{ r.data().end | date:' hh:mm' }} hs
			            		</h4>
			            		<h4> Status: {{ r.data().status }} </h4>        					
	        				</div>
			        		<md-divider md-inset ng-if="!$last"></md-divider>
	        			</md-list-item>
	        		</md-list>
	        	</md-card-content>      			
      		</md-card>
    	</md-tab>
    </md-tabs>  
</div>
