<md-dialog>

	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			{{titulo}}
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-tooltip md-direction="left">Fechar</md-tooltip>
        <md-icon md-svg-src="../app/img/close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
		</div>
	</md-toolbar>

	<md-content>
		<div layout="row" class="md-inline-form">
			<md-input-group layout="row">
				<md-input-container>
					<input type="" ng-model="titulo" placeholder="título...">
				</md-input-container>
									
				<!-- <md-input-container>
					<input type="" ng-model="turma" placeholder="turma...">
				</md-input-container> -->

				<md-autocomplete
				    md-selected-item="selectedItem"
				    md-search-text-change="searchTextChange(searchText)"
				    md-search-text="searchText"
				    md-selected-item-change="selectedItemChange(item)"
				    md-items="item in turmas | filter: searchText"
				    md-item-text="item.serie+ 'º ' + item.curso"
				    md-min-length="0"
				    md-floating-label="turma...">
				    <md-item-template>
				    	<span md-highlight-text="searchText" md-highlight-flags="^i">
				      		{{item.serie}}º {{item.curso}}
				  		</span>
				    </md-item-template>
				</md-autocomplete>	
			</md-input-group>
		</div>

		<div ng-show="aulas.length == 0" layout="row">
			<h5>Esta disciplina não tem aulas cadastradas</h5>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="addAula($event, disc2)">
				<md-tooltip md-direction="left">Adicionar aula</md-tooltip>
				<md-icon md-svg-src="app/img/adicionar.svg"></md-icon>
			</md-button>
		</div>

		<md-card ng-show="aulas.length > 0">
			<span flex></span>
			<md-toolbar md-scroll-shrink>
				<div class="md-toolbar-tools">
					<h4>Aulas</h4>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="addAula($event, disc2)">
						<md-tooltip md-direction="left">Adicionar aula</md-tooltip>
						<md-icon md-svg-src="app/img/adicionar.svg"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-dialog-content>
				<md-list>
					<md-list-item class="desaparece" ng-repeat="a in aulas" ng-click="null">
						{{a.data().start | date: 'dd/MM/yyyy -- HH:mm': '-0300'}}hs às
						{{a.data().end | date: 'HH:mm': '-0300'}}hs

						<span flex></span>
						<md-button class="md-icon-button" ng-click="excluirAula(a.id)">
							<md-tooltip md-direction="right">Remover</md-tooltip>
	            			<md-icon md-svg-src="../app/img/close_black.svg"
	            			aria-label="Close dialog"></md-icon>
	        			</md-button>
	        			<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
				</md-list>
			</md-dialog-content>
		</md-card>
	</md-content>

	<md-dialog-actions layout="row">
		<md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
		<md-button class="md-raised md-primary" ng-click="salvar()">Salvar</md-button>
	</md-dialog-actions>
</md-dialog>
