<div ng-controller="homeCtrl as c">

  <!-- Form de adicionar pessoa -->
  <!-- <div layout="column" ng-show="c.adicionando" class="md-inline-form">
    <md-card>
      <md-content>
        <md-input-container>
          <label>Nome</label>
          <input ng-model="c.nome" type="text" ng-required="true">
        </md-input-container>

        <md-input-container>
          <label>Sobrenome</label>
          <input ng-model="c.sobrenome" type="text" ng-required="true">
        </md-input-container>
      </md-content>
      <md-card-action layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="c.salvarPessoa()">Salvar</md-button>
      </md-card-action>
    </md-card>
  </div> -->

  <!-- Lista de pessoas -->
  <md-card>
    <div layout-gt-sm="row" layout="column" class="listdemoBasicUsage">
      <div flex-gt-sm="50" flex="">
        <md-toolbar layout="row" class="md-hue-3">
          <div class="md-toolbar-tools">
            <span>Pessoas</span>
          </div>
          <md-button ng-click="c.mostrarForm()" ng-show="!c.adicionando">
            Add pessoa
          </md-button>
          <!-- <md-button ng-click="c.mostrarForm()" ng-show="c.adicionando">
            Cancelar
          </md-button> -->
        </md-toolbar>

        <md-content>
          <md-list flex="">
            <md-list-item class="secondary-button-padding" ng-click="null"
      			ng-show="c.pessoas.length == 0" ng-cloak="">
      				Nenhuma pessoa cadastrada.
      		  </md-list-item>
            <md-list-item class="md-3-line item-de-lista" ng-repeat="p in c.pessoas"
            ng-click="c.editarPessoa($event, p)">
              <div class="md-list-item-text" layout="column">
                {{p.nome}}
                {{p.sobrenome}}
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
    </div>
  </md-card>
</div>
