<div ng-controller="homeCtrl as c">

  <!-- Lista de pessoas -->
  <md-card>
    <div layout-gt-sm="row" layout="column" class="listdemoBasicUsage">
      <div flex-gt-sm="50" flex="">
        <md-toolbar layout="row" class="md-hue-3">
          <div class="md-toolbar-tools">
            <span>Pessoas</span>
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="c.salvarPessoa($event)">
              Add pessoa
            </md-button>
          </div>
        </md-toolbar>

        <md-content>
          <md-list flex="">
            <md-list-item class="secondary-button-padding" ng-click="null"
      			ng-show="c.pessoas.length == 0" ng-cloak="">
      				Nenhuma pessoa cadastrada.
      		  </md-list-item>
            <md-list-item class="md-3-line item-de-lista" ng-repeat="p in c.pessoas"
            ng-click="c.editarPessoa($event, p)">
              <div class="md-list-item-text" layout="column">
                {{p.data().nome}}
                {{p.data().sobrenome}}
              </div>
              <md-divider ng-if="!$last"></md-divider>
              <!-- <md-button ng-click="c.editarPessoa($event, p)" class="md-icon-button">
                <md-icon></md-icon>
              </md-button> -->
            </md-list-item>
          </md-list>
        </md-content>
      </div>
    </div>
  </md-card>
</div>
