	<div ng-controller="profCtrl as p" ng-cloak="" layout-gt-sm="row" layout="row" 
	class="listdemoBasicUsage">
	  <div flex="">

	  	<md-card>
		    <md-toolbar layout="column" class="md-hue-3">
		      <div class="md-toolbar-tools" layout="row">
		        <span>Professores</span>	
		        <md-button class="md-raised md-primary" layout-align="end" ng-click="p.salvarProf()">
		        	Add professor
		        </md-button>
		      </div>
		    </md-toolbar>

		    <md-card-content>
		      <md-list flex="">
		        <md-list-item class="md-2-line item-de-lista" ng-repeat="p in p.profs" 
		        ng-click="null">
		          <div class="md-list-item-text" layout="column">
		            <b><h3>{{ p.data().nome }} {{ p.data().sobrenome }}</h3></b>
		            <h4>{{ p.data().email }}</h4>
		          </div>
		        </md-list-item>
		      </md-list>
		    </md-card-content>
	    </md-card>
	  </div>
	</div>	