	<div ng-controller="profCtrl as c" ng-cloak="" layout-gt-sm="row" layout="row" 
	class="listdemoBasicUsage">
	  <div flex="">
	  	<md-card>
		  	<md-toolbar layout="row" class="md-hue-3">
		      	<div class="md-toolbar-tools">
		        	<span>Professores</span>	
		        	<span flex></span>
			        <md-button class="md-raised md-primary" layout-align="end" 
			        ng-click="c.salvarProf($event)">
			        	Add professor
			        </md-button>
		    	</div>    
		    </md-toolbar>
		    <md-card-content>
		      <md-list flex="">
		        <md-list-item class="md-2-line desaparece" ng-repeat="p in c.profs" 
		        ng-click="null" id="{{p.id}}item">
		          <div class="md-list-item-text" layout="column">
		            <b><h3>{{ p.nome }} {{ p.sobrenome }}</h3></b>
		            <h4>{{ p.email }}</h4>
		          </div>

		          <md-fab-speed-dial md-open="c.fab.isOpen" md-direction="left"
                   ng-class="c.fab.selectedMode" ng-cloak>
        			<md-fab-trigger>
				   		<md-button aria-label="menu" class="md-fab md-raised" 
				   		ng-click="c.openMenu(p.id)" id="{{p.id}}btO">
				   			<md-tooltip md-direction="{{c.fab.direction}}">Opções</md-tooltip>
				        	<md-icon md-svg-src="app/img/options.svg"></md-icon>
				      	</md-button>
				    </md-fab-trigger>

				    <md-fab-actions>

				      <md-button aria-label="Editar" class="md-fab md-raised md-mini" 
				      id="{{p.id}}btE" ng-click="c.editarProfessor(p, $event)">
				      	<md-tooltip md-direction="bottom" md-visible="">
				      		Editar
				      	</md-tooltip>
				        <md-icon md-svg-src="app/img/editar.svg" aria-label="Editar"></md-icon>
				      </md-button>

				      <md-button aria-label="Excluir" class="md-fab md-warn md-mini" 
				      id="{{p.id}}btX" ng-click="c.excluirProfessor(p.id)">
				      	<md-tooltip md-direction="bottom" md-visible="">
				      		Excluir
				      	</md-tooltip>
				        <md-icon md-svg-src="app/img/excluir.svg" aria-label="Excluir"></md-icon>
				      </md-button>

				    </md-fab-actions>
				  </md-fab-speed-dial>	

		          <md-divider md-inset ng-if="!$last"></md-divider>
		        </md-list-item>
		      </md-list>
		    </md-card-content>
	    </md-card>
	  </div>
	</div>	