<div ng-controller="turmaCtrl as c">
  <md-card>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Turmas</span>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="c.salvarTurma($event)">
          Add turma
        </md-button>
      </div>
    </md-toolbar>

    <md-content>
      <md-list>
        <md-list-item class="secondary-button-padding" ng-click="null"
  			ng-show="c.turmas.length == 0" ng-cloak="">
  				Nenhuma turma cadastrada.
  		  </md-list-item>
        <md-list-item ng-repeat="t in c.turmas" ng-click="null" class="item-de-lista desaparece">
          {{t.data().serie}}º de {{t.data().curso}}
          <span flex></span>

          <md-button class="end md-raised md-warn" layout-align="end" 
          ng-click="c.excluirTurma(t.id)">
            Excluir
          </md-button>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </md-card>
</div>
