<md-dialog aria-label="Ocupar aula">
  <form ng-submit="hide()" name="ocuparAulaForm">
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <div>
          <h2 md-truncate>Substituir essa aula?</h2>
        </div>

        <div>
          <md-input-container class="md-block">
            <label>Disciplina subtituta</label>
            <md-select md-on-open="getDisciplinas()" required ng-model="disciplinaSelecionada"
            name="disciplina">
              <md-option ng-repeat="disciplina in disciplinas" ng-value="disciplina">
                {{ disciplina.titulo }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="cancel()">Cancelar</md-button>
      <md-button class="md-primary" type="submit" ng-disabled="ocuparAulaForm.$invalid">
        Substituir
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
