<md-dialog aria-label="Detalhes">
  <form ng-cloak ng-submit="hide()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Marcar Falta</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="app/img/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div>
          <h2>Deseja marcar falta nesse professor?</h2>
          <md-list>
            <md-list-item ng-show="isLoading()" layout="row">
              <div class="md-avatar">
                <i class="fas fa-spinner fa-pulse fa-2x"></i>
              </div>
              <div class="md-list-item-text">
                <span>Carregando...</span>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line" ng-hide="isLoading()">
              <img src="{{disciplina.professor.pessoa.photoUrl || 'app/img/profile.png'}}"
              alt="{{disciplina.professor.pessoa.nome}} foto" class="md-avatar">

              <div class="md-list-item-text">
                <h3>
                  {{ disciplina.professor.pessoa.nome }}
                  {{ disciplina.professor.pessoa.sobrenome }}
                </h3>
                <p>{{ disciplina.titulo }}</p>
              </div>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" class="md-raised md-primary">Confirmar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
